b, strong {
	font-weight: bold;
}

div.header {
	padding-top: 25px;
	padding-left: 13px;
	overflow: hidden;
	max-width: 100%;
	min-width: 1115px;
	background-color: rgb(250,250,250);
	height: 100px;
	background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

form, .google-logo, div.buttons, div.nav-icons, li, .l-nav, .r-nav {
	display: inline-block;
}

.google-logo {
	margin-right: 15px;
}

form {
	position: relative;
	top: -20px;
}

#search-field {
	display: inline-block;
	width: 525px;
	height: 40px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  border-right: none;
  padding-left: 20px;
  font-size: 16px;
}

button.search-bar {
	background-color: white;
	height: 40px;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, .1);
	border-left: none;
	border-bottom: 2px solid rgba(0, 0, 0, .2);
	height: 45px;
}

button.microphone, button.magnifying {
	position: relative;
	bottom: 1px;
}

button.microphone {
	border-right: none;
}

button.magnifying {
	position: relative;
  right: 4px;
  padding-right: 20px;
  padding-left: 20px;
}

div.buttons {
	position: relative;
  top: 5px;
  right: 5px;
}

div.nav-icons {
	float: right;
	position: relative;
	top: 5px;
}

.nav-item {
	margin-right: 22px;
}

button.nav-item {
	height: 30px;
	width: 70px;
	position: relative;
	bottom: 4px;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  border: 1px solid #4285f4;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
}

.nav {
	width: 633px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	position: absolute;
	left: 147px;
	margin-top: 9px;;
}

.l-nav {
	padding-left: 19px;
}

.r-nav {
	float: right;
	padding-right: 10px;
}

.l-nav-items>li {
margin-right: 28px;
}

.r-nav-items>li {
	margin-left: 28px;
}

#results {
	color: rgb(128, 128, 128);
	font-family: 'Roboto', arial, sans-serif;
	font-size: 13px;
	margin-left: 166px;
  margin-top: 12px;
}

.top-result {
	width: 597px;
	margin-left: 150px;
	margin-top: 30px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	padding: 25px 15px 8px 16px;
	font-family: 'Roboto', arial, sans-serif;
}

.top-result>h2 {
	font-size: 20px;
	margin-bottom: 14px;
}

.top-result>h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 14px;
	font-family: 'Roboto', arial, sans-serif;
	line-height: 1.25em;
}

.top-list {
	display: block;
	margin-left: 4px;
	margin-bottom: 7px;
}

#more-items {
	font-size: 14px;
  margin-top: 12px;
  margin-left: 21px;
 	margin-bottom: 35px;
}

h4 {
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(26, 13, 171);
	font-size: 18px;
}

h5 {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	color: rgb(0, 102, 33);
	margin-top: 3px;
}

#search-for {
	font-size: 16px;
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(34, 34, 34);
	margin-top: 21px;
}

#search-for>a {
	color: rgb(26, 13, 171);
}

.icons {
	color: rgb (119, 119, 119);
	font-family: 'Roboto', arial, sans-serif;
	font-size: 12px;
	margin-right: 12px;
	}

	.icons-div {
		width: 624px;
		margin-left: 149px;
		text-align: right;
	}

	.main-results {
		position: absolute;
    left: 150px;
    width: 613px;
    margin-top: 25px;
    padding: 0px 17px;
    line-height: 110%
	}

	.inline, .each-result>p {
		display: inline;
		font-size: 13px;
		font-family: 'Roboto', arial, sans-serif;
		color: rgb(84, 84, 84);
	}

	.each-result>.date {
		color:	#808080;
	}

	.each-result {
		margin-bottom: 30px;
	}

	.float-left {
		display: inline-block;
		float: left;
		height: 63px;
    width: 116px;
    padding-top: 7px;
    padding-right: 8px;
	}

	#block {
		display: block;
	}

	.related-searches {
		position: absolute;
    top: 1610px;
    left: 168px;
	}

	.related-searches>p {
		color: rgb(34, 34, 34);
		font-size: 18px;
		font-family: 'Roboto', arial, sans-serif;
		margin-bottom: 20px;
	}

a.table {
	color: rgb(26, 13, 171);
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	line-height: 170%;
}

td {
	padding-right: 35px;
}

.google-pages {
	position: absolute;
  top: 1765px;
  left: 315px;
}

.g, .o-red, .o-yellow, .l, .e {
	font-family: 'Product Sans';
	font-size: 38px;
	font-weight: 500;
	margin: -2px;
	padding: 0;
	border: none;
}

.g {
	color: #4885ed;
}

.o-red, .e {
	color: #db3236;
}

.o-yellow {
	color: #f4c20d;
}

.l {
	color: #3cba54;
}

.page-numbers>a {
	font-size: 13px;
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(66, 133, 244);
	position: relative;
  left: 37px;
  top: 5px;
}

.page-row>td {
padding-right: 13px;	
}

p.arrow {
	font-size: 22px;
	font-family: 'Roboto', arial, sans-serif;
	color: rgb(66, 133, 244);
	position: relative;
	left: 25px;
	bottom: 5px;
}

.footer-div {
	position: absolute;
  bottom: -1001px;
  padding-left: 170px;
  padding-top: 20px;
  width: 100%;
  background-color: rgb(242, 242, 242);
  border-top: 1px, solid, rgb(228, 228, 228);
}

.date {
	color: rgb(170, 170, 170);
	font-family: 'Roboto', arial, sans-serif;
	font-size: 13px;
}

.footer>a {
	color: rgb(119, 119, 119);
	font-family: 'Roboto', arial, sans-serif;
	font-size: 13px;
	margin-right: -10px;
}

.footer-table {
	margin-top: 17px;
	margin-bottom: 10px;
}